albumentations == 1.2.1
transformers == 4.20.1
segmentation-models-pytorch == 0.3.0
matplotlib == 3.5.2
torch == 1.12.0
torchaudio == 0.12.0
torchvision == 0.13.0
pandas == 1.4.3
timm == 0.4.12
tqdm == 4.64.0
pycocotools == 2.0.2
scipy == 1.8.1




